<a href="https://colab.research.google.com/github/Dev-Amaral/Aplicacoes-computacionais-para-analise-de-graficos-usando-Python-Minicurso-/blob/main/01%20-%20Primeiros%20passos%20no%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#  **Fundamentos de Python**

## A linguagem de programação Python é conhecida por ser uma linguagem simples, clara e objetiva, ou seja, vai deireto ao ponto. Embora seja reconhecida pela sua simplicidade, é uma linguagem de programação poderosa, que é usada para administrar grandes sistemas e até desenvolver projetos. Dentre suas diversas funcionalidades, está a **Análise de Dados**, que consiste em inspecionar, limpar, transformar e modelar dados com o objetivo de descobrir informações úteis, apoiar a tomada de decisões e resolver problemas.
## Esta linguagem é bastante utilizada na **ciência e análise de dados** devido a algumas razões, tais como:


*   **Sintaxe Simples e Legível;**
*   **Ampla Comunidade e Suporte;**
*   **Grande Variedade de Bibliotecas;**
*   **Versatilidade;**
*  **Ferramentas Interativas como o Jupyter Notebook e Google Colab;**
*  **Popularidade no Mercado de Trabalho.**


## **OBJETIVO**: Aprender os comandos básicos da linguagem de programação Python, para compreensão das aplicações futuras.

# **Introdução**

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>Variáveis</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Uma *variável* é uma "caixa" onde é atribuído um valor específico, permitindo que ele seja armazenado  de uma forma temporária na memória RAM e utilizado posteriormente no código.

Em Python, a forma de criar uma variável e imputar um valor a ela é simples:

In [ ]:
idade = 25
nome = 'jhon'
time = 'flamengo'

print(idade)

Quando escrevemos idade = 25, estamos dando uma ordem : "Armazene o valor 25 na variável idade!"; ou ainda estamos dizendo : "idade recebe 25". Logo, o sinal "=", em Python, quer dizer "atribuição".

Existem regras ao criar uma variável:


*   Não é possível colocar espaços em branco no nome;
*   Não é possível colocar caracteres especiais, como "\,/,+,-,...";
*   Não é possível começar com números, mas é permitido por em outro espaço .

Veja abaixo alguns erros:

In [ ]:
abc = 2

In [ ]:
+nome = 2

SyntaxError: invalid syntax (<ipython-input-6-2b9dbb0ef30c>, line 1)

In [ ]:
Número = 2

In [ ]:
acb = 9

In [ ]:
Número_2 = 21   # podemos utilizar acentos gráficos na variável

É possível criar mais de uma variável em uma mesma linha:

In [ ]:
a, b, c = 1, 2, 3

Para visualizar esta variável, é possível utilizar o console do Google Colab:

In [ ]:
A = 2

In [ ]:
A

2

In [ ]:
B = 90

In [ ]:
B

90

Além de nome e conteúdo, uma variável possui outras propriedades, como o seu 'tipo', que define a natureza dos dados que ela armazena. Durante este material, vamos ver algumas. Python possui vários tipos de dados, mas os mais comuns são as variáveis numéricas. Dentre elas, o números inteiros, flutuantes e complexos. Além disso, podemos ter variáveis que armazenam valores como 'verdadeiro' ou 'falso', e letras.

**OBS**: Para descobrir qual o tipo de uma variável qualquer, podemos utilizar uma função específica da própria linguagem, chamada *Type*( ).

In [ ]:
B = 99
Altura = 1.76
opção = True
nome = 'Jhon'
I = 5 + 2j

In [ ]:
type(B)

int

In [ ]:
type(Altura)

float

In [ ]:
type(opção)

bool

In [ ]:
type(nome)

str

In [ ]:
type(I)

complex

In [ ]:
nome = 'Kaio'

type(nome)

str

Mais à frente, vamos estudar cada uma dessas variáveis, como também suas particularidades.

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>Função Print</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

A função **print** é uma das mais utilizadas em Python. Ela nos permite imprimir informações na tela do computador como textos, números, variáveis, resultados de operações matemáticas, entre outros. Sempre quando quisermos mostrar algo para o usuário, como uma mensagem, uma pergunta ou o resultado de uma expressão aritmética, será utilizado o **print**.

Para utilizá-la, basta chamar:

In [ ]:
print('Oi')

Oi

In [ ]:
nome = 'python'
print(nome)

python

In [ ]:
A = 10
B = 20

print('O valor de A é',A)
print('Olá mundo, o valor de B é',B)

O valor de A é 10
Olá mundo, o valor de B é 20

In [ ]:
nome = 'Davi'

print('Olá',nome)

Olá Davi

Os textos impressos ainda aceitam caracteres especiais:

In [ ]:

print('Olá\nMundo')    # \n no meio do texto, quebra-o em duas linhas

Olá
Mundo

In [ ]:
print('Olá\tMundo')     # \t no meio do texto, abre um espaço entre as palavras

Olá	Mundo

In [ ]:
a = int(5)
b = int(2)
soma = a + b

print(soma)

Há várias formas de **formatar** a saída do comando print em Python, o que torna essa função bastante versátil. Você pode utilizar métodos como "**.format( )**" e "**f-strings**" para inserir valores em meio aos seus textos.

#### Método .format()

O método .format() é uma forma de inserir variáveis ou valores dentro de um texto, substituindo marcadores { } (chaves) por esses valores. Além disso, no caso de números flutuantes, podemos usar a especificação ( :.nf) para fazer uma aproximação conforme o número de casas decimais desejadas.

##### Exemplo 1 : Inserindo variáveis no texto
Como funciona ?

1 - Você cria uma string que contém chaves ({}), que são os espaços reservados para os valores.

2 - Depois, chama o método .format() e passa os valores que deseja inserir nos lugares das chaves.

In [ ]:
time = 'flamengo'
time2 = 'vasco'
print(" Meu time de coração é o {} e eu não gosto do {}".format(time,time2))

In [ ]:
nome = "Alice"
idade = 25

print("Meu nome é {} e eu tenho {} anos.".format(nome, idade))

##### Exemplo 2 : Utilizando o especificador ( :.nf)

In [ ]:
pi = 3.14159

print('O valor de pi é aproximadamente {:.3f}'.format(pi)) #arredondamento!

O valor de pi é aproximadamente 3.142

In [ ]:
A = 1.9879597865874

print('O valor é {:.3f}'.format(A))

O valor é 1.988

#### Método f-strings

Este método é mais recente no python. As f-strings permitem o usuário inserir dentro das chaves as variáveis e expressões.

##### Exemplo: Inserindo variáveis em uma frase

In [ ]:
nome = "Alice"
idade = 25

print(f'Meu nome é {nome} e eu tenho {idade}')

Meu nome é Alice e eu tenho 25

In [ ]:
e0 = 8.85955892

print(f'A variável é igual a {e0:.5f}')

A variável é igual a 8.85956

#### ***Exercícios de Fixação***

**1-**imprima os dados referentes a um cadastro  **Aluno: João da Silva, Peso: 67.75671 kg, Idade: 22 anos** de modo que sejam utilizadas as variáveis ***nome***, ***peso*** e ***idade*** definidas anteriormente à função print. Além disso, exiba o peso com apenas uma casa decimal.

In [ ]:
# Sua resposta:
Aluno = 'João da Silva'
Peso = 67.75671
idade = 22

print(f'Meu nome é {Aluno} e eu tenho {idade} anos e meu peso é {Peso:.1f} ')

Meu nome é João da Silva e eu tenho 22 anos e meu peso é 67.8

**2-**Imprima a frase **Maria tem 19 anos e estuda no IFBA.** de modo que sejam utilizadas as variáveis ***nome***, ***idade*** e ***instituicao*** definidas anteriormente à função print. Tente resolver este exercício de ao menos duas formas.

In [ ]:
# Sua resposta:

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>Entrada de Dados</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Até aqui, os códigos criados trabalharam apenas com valores conhecidos, declarados no próprio código. Entretanto, no mundo da programação é possível escrever a solução de um problema e aplicá-lo várias vezes. Para tal fim, é preciso modificar/melhorar os programas de forma a permitir que os valores sejam fornecidos durante a sua execução, sem alterar os códigos em si.

**Entrada de dados** é o exato momento em que sua variável recebe valores por um dispositivo de entrada de dados. Assim, vamos ver uma função que é utilizada para solicitar os dados do usuário.

#### Função input

A função **input** é utilizada para solicitar dados do usuário. Primeiro, precisa-se digitar seu parâmetro, que é a mensagem a ser exibida e, em seguida, essa mensagem é retornada pela própria função.

In [ ]:
x = input("Digite um número: ")
print(x)

Digite um número: 8
8

In [ ]:
nome = input("Digite o seu nome:\n")
print(f'Voce digitou o nome {nome}')

Digite o seu nome:
roberto
Voce digitou o nome roberto

In [ ]:
a = input("Qual a sua idade?")

Qual a sua idade?22

In [ ]:
print(f'Você tem {a} anos')

Você tem 22 anos

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong> Tipos Primitivos</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Os tipos primitivos (ou tipos de dados) ajudam a definir como os dados são armazenados e manipulados no programa.
Os tipos de dados mais comuns são as variáveis numéricas, strings e do tipo lógico.

#### *int*

Os **números inteiros** são aqueles sem parte decimal, podendo ir de $-\infty$ a $+\infty$, como 1, 0, -5, -47.

In [ ]:
a = 8
_K = 9
N = -9

#### *float*

Os **números flutuantes** ou decimais são aqueles sem a parte decimal, como 1.8, 9.555, 2.7.

In [ ]:
N1 = 1.14
N2 = 4.9
N3 = 30.9

In [ ]:
massa = 70.5    # Kg

####  Conversão de variável float em variável int

In [ ]:
# Operação de float para int

massa_Kg_float = 98.5

massa_Kg_int = int(massa_Kg_float)

print(massa_Kg_float),

print(massa_Kg_int)

98.5
98

####  Conversão de variável float em variável int

In [ ]:
# Operação int para float

idade_int = 22

In [ ]:
print(float(idade_int))
type(float(idade_int))

22.0

float

#### *bool*

A **variável bool** (ou booleana) é do tipo lógico. Em Python, escrevemos **True** para verdadeiro e **False** para falso.

In [ ]:
resultado = True
aprovado = False

#### *complex*

Os **números complexos** são uma extensão dos números reais que incluem uma unidade imaginária *i*. Entretanto, em Python, essa unidade é expressada por *j*.

In [ ]:
a = 1+2j
print(a)

(1+2j)

Podemos acessar as partes reais e imaginárias de forma independente.

In [ ]:
a.real

1.0

In [ ]:
a.imag

2.0

Podemos somar números complexos:

In [ ]:
z = 9 + 8j     #    a     +    z
soma = a + z   # (1 + 2j) + (9 + 8j) = (1+9) + (2j + 8j)

print(soma)

(10+10j)

In [ ]:

z1 = 3 + 4j  # Primeiro número complexo
z2 = 1 - 2j  # Segundo número complexo

# Multiplicação
produto = z1 * z2

# Mostrando os resultados
print(f"z1 = {z1}")
print(f"z2 = {z2}")
print(f"Multiplicação (z1 * z2): {produto}")

z1 = (3+4j)
z2 = (1-2j)
Multiplicação (z1 * z2): (11-2j)

#### *string*

Além de números, em Python podemos também manipular strings (conjunto de caracteres). Elas podem ser expressadas por aspas simples ('') ou duplas (" "). Chamamos conjunto de caracteres uma sequência de símbolos como letras, números, sinais de pontuação, entre outros. Exemplo: 'João e Maria comem pão'. Nesse caso, João é uma sequência com as letras J,o,ã,o.
Uma string pode ser imaginada como uma sequência de blocos, em que cada letra, número ou espaço em branco ocupa uma posição.

![Captura de tela_8-12-2024_14747_www.scientecheasy.com.jpeg]()

In [ ]:
'João e Maria comem pão'

In [ ]:
a = "Bom dia!"

O tipo string é muito útil e utilizado para exibir mensagens ou mesmo para gerar outros arquivos.

Uma string tem um tamanho associado, como um conteúdo que pode ser acessado caractere a caractere. Para descobrir o tamanho dessa string, utiliza-se a função **len**. Essa função retorna o número de caracteres, pois podemos substituir um texto da função por seu resultado.

In [ ]:
L = 'python'
len(L)          # indica o comprimento da string!

Para acessar os caracteres de uma string, devemos informar o índice/posição do caractere em específico entre colchete ([ ]).

In [ ]:
a = 'ABCDE'

a[0]

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 22px;"><strong>Operações Aritméticas</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

As operações aritméticas em Python são as mesmas da matemática básica, ou seja, <u>adição</u>, <u>subtração</u>, <u>multiplicação</u>, <u>divisão</u>, <u>divisão inteira (ou quociente da divisão inteira)</u>, <u>módulo (ou resto da divisão inteira)</u> e <u>potência</u>.

#### *Soma*

A adição de números é feita usando-se o operador "+".

In [ ]:
1+9

In [ ]:
99+109

In [ ]:
A = 2
B = 20

print(A+B)

In [ ]:
print(f'A + B = {}')

#### *Subtração*

A subtração de números é feita usando-se o operador " - ".

In [ ]:
n0 = 3
n1 = 9

In [ ]:
sub = n0 - n1
sub2 = n1 - n0

In [ ]:
print(sub)
print(sub2)

#### *Multiplicação*

A multiplicação de números é feita usando-se o operador "*".

In [ ]:
M = 9*8

In [ ]:
M

#### *Divisão*

A divisão se divide em algumas subfunções. A seguir vamos ver algumas delas.

##### Divisão Padrão

A divisão padrão de números é feita usando-se o operador "/".

In [ ]:
div = 18/6

##### Divisão Inteira

A divisão inteira de números é feita usando-se o operador "//".

In [ ]:
divInteira = 55//7

In [ ]:
print(divInteira)

##### Módulo ou Resto

O módulo da divisão inteira de números é feita usando-se o operador "%".

<img src="https://gracianotorrao.files.wordpress.com/2014/10/divisaoi.png" />

In [ ]:
resto = 17%2

In [ ]:
print(resto)

#### *Exponencial ou Potenciação*

A potência de números é feita usando-se o operador "**".

In [ ]:
pot = 9**2    # 9^2

print(pot)

In [ ]:
P = 9**(1/2)
print(P)

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong> Ordem das Operações Aritméticas</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

É importante observar que em Python, a ordem de precedência das operações aritméticas é a mesma da matemática básica:

1. Parênteses: $()$
2. Potenciação: $**$
3. Multiplicação e Divisão: $*, /$
4. Adição e Subtração: $+, -$

Os colchetes e as chaves são reservados para outras funções específicas da linguagem como escrita de listas, matrizes, dicionários etc como veremos em aulas futuras. Vejamos alguns exemplos:

In [ ]:
# Expressão numérica

1500 + (1500*5)

9000

In [ ]:
# Expressão numérica

(1+2)*3-4**2

-7

![unnamed.png]()

In [ ]:
#Equação Linearizada

Area =

![unnamed (2).png]()

In [ ]:
#Equação Linearizada

#### ***Exercícios de Fixação***

 **1 -** Use  as células a seguir para calcular diretamente o valor das expressões:

a) $2 + 5$

b) $3 - 5 + 6 \cdot 2$

c) $\frac{2 + 8}{5} \cdot 3$

d) $\frac{\left(2^{3} - \frac{16}{4}\right)^{2}}{2}$

In [ ]:
# a)

In [ ]:
# b)

In [ ]:
# c)

In [ ]:
# d)

**2 -** Faça um programa que leia um número Inteiro e mostre na tela o seu sucessor e seu antecessor.

In [ ]:
# Resposta

**3 -** Crie um algoritmo que leia um número e mostre o seu dobro, triplo e raiz quadrada.

In [ ]:
# Resposta

**4 -**  Desenvolva um programa que leia as duas notas de um aluno, calcule e mostre a sua média.

In [ ]:
# Resposta

**5 -** Escreva um programa que leia um valor em metros e o exiba convertido em centímetros e milímetros.

In [ ]:
# Respostas

**6 -** Faça um programa que leia a largura e a altura de uma parede em metros, calcule a sua área e a quantidade de tinta necessária para pintá-la, sabendo que cada litro de tinta pinta uma área de 2 metros quadrados.

In [ ]:
# Resposta


                                        # 1 L -------- 2 m^2
                                        #  quant------------area m^2

**7** - Faça um algoritmo que leia o preço de um produto e mostre seu novo preço, com 5% de desconto.

In [ ]:
# Resposta

**8 -**  Escreva um programa que pergunte a quantidade de Km percorridos por um carro alugado e a quantidade de dias pelos quais ele foi alugado. Calcule o preço a pagar, sabendo que o carro custa R\$60 por dia e R\$0,15 por Km rodado.

In [ ]:
# Resposta
quant_Km = float(input('Digite a quantidade de Km percorridos:'))

quant_Dias = int(input('Digite a quantidade de dias:'))

preço = quant_Dias*60 + 0.15*quant_Km

print(f'Preço a pagar = {preço} R$')

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong> Algumas Funções Matemáticas</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

Para utilizar as funções matemáticas, é preciso importar **módulos**. Módulo, em Python, é um arquivo contendo definições e instruções. Um módulo pode definir funções, classes e variáveis. Basicamente, é uma maneira de organizar grandes códigos em arquivos menores e mais manejáveis, para tornar o código mais legível e reutilizável. Vejamos alguns exemplos de módulos.

#### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong> Módulo math</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

O módulo <u>math</u> é um dos módulos padrões no Python que fornece funções matemáticas. Este módulo não precisa ser instalado separadamente porque ele é distribuído com o Python, então você pode importá-lo diretamente em seu programa.

In [ ]:
# Importando o módulo math
import

Aqui estão alguns exemplos de funções disponíveis no módulo math:

##### **math.sqrt(x)**

Esta função retorna a raiz quadrada de  x .

In [ ]:
# Calculando a raiz quadrada de um número qualquer
import math

a =
b =

print()

In [ ]:
from math import sqrt

##### **math.pow(x,y)**

Esta função retorna a potencia de x. Ela recebe dois argumentos: a base e o expoente, e retorna o resultado da base elevada ao expoente.

#####  **math.sin(x), math.cos(x) e math.tan(x)**

funções seno, cosseno e tangente de x (x em radianos)

In [ ]:
# Importando o módulo math
import math

# Calculando o seno, o cosseno e a tangente de alguns ângulos (em radianos)
s = math.sin(0)
c = math.cos(math.pi)        # pi ------- 180°
tg = math.tan(math.pi/4)

# Imprimindo o resultado da potência
print(s)
print(c)
print(tg)

##### **math.log(x,[ base])**

Esta função retorna o logaritmo natural de x, ou o logaritmo de x na base fornecida.

In [ ]:
# Importando o módulo math
import math

# Calculando o logaritmo de 100 na base 10 usando a função log do módulo math
logaritmo = math.log(100, 10)

# Imprimindo o valor do logaritmo
print(logaritmo)

##### **math.ceil(x), math.floor(x), math.trunc(x), math.hypot(x), math.factorial(x)**

#### ***Exercícios de Fixação***

##### **1)** Faça um programa que leia o comprimento do cateto oposto e do cateto adjacente de um triângulo retângulo. Calcule e mostre o comprimento da hipotenusa.

In [ ]:
# Resposta

##### **2)**  Faça um programa que leia um ângulo qualquer e mostre na tela o valor do seno, cosseno e tangente desse ângulo.

In [ ]:
# Resposta

##### **3)**  Peça ao usuário um número decimal e mostre:

    O menor número inteiro maior ou igual a ele (**math.ceil**).

    O maior número inteiro menor ou igual a ele (**math.floor**).

In [ ]:
# Resposta

##### **4)**  Escreva um programa que leia um número inteiro 𝑛 e calcule seu fatorial usando **math.factorial**.

In [ ]:
# Resposta

##### **5)** Escreva um programa que leia o raio de um círculo e calcule sua área usando a fórmula: $A = \pi r^2$. Utilize **math.pi** para o valor de 𝜋.

In [ ]:
# Resposta

##### **6)** Peça ao usuário um ângulo em graus e converta para radianos usando **math.radians**. Depois, converta o resultado de volta para graus usando math.degrees.

In [ ]:
# Resposta

##### **7)** Crie um programa que resolva uma equação quadrática na forma **$ ax^2 + bx + c = 0$**. Use math.sqrt para calcular as raízes reais quando o discriminante **$Δ = b^2 - 4ac$** for maior ou igual a zero.

![9768480add7616fa1fe2081ce3542378.webp]()

In [ ]:
# Resposta

### <div style="margin-top: -20px;">
<hr style="border: 2px solid blue;">

<font color='blue'><span style="font-size: 18px;"><strong> Estruturas de Decisão</strong></span></font>

<hr style="border: 2px solid blue;">
</div>

#### As estruturas de decisão permitem alterar o curso do fluxo de execução de um programa, de acordo com o valor (Verdadeiro/Falso) de um teste lógico.

Em python temos as seguintes estruturas de decisão mais usuais:

**if** (se)

**if..else** (se..senão)

**if..elif..else** (se..senão.senão se)



##  *Estrutura if*
O comando **if** é utilizado quando precisamos decidir se um trecho do programa deve ou não ser executado. Ele é associado a uma condição, e o trecho de código será executado se o valor da condição for verdadeiro.

**Sintaxe:**

        if<condicao>:
              <Bloco de comandos>

**Exemplo:**

In [ ]:
valor = int(input("Qual é a sua idade?"))
if valor < 18:
    print("Você ainda não pode dirigir!")
if valor > 18:
   print("Você pode dirigir!")



##  *Estrutura if..else*
Nesta estrutura, um trecho do código será executado se a condição for verdadeira e outro se a condição for falsa.

**Sintaxe:**



```
      if <condicao>:
              <Bloco de comandos para condicao verdadeira>
      else:
              <Bloco de comandos para condicao falsa>
```

**Exemplo:**

In [ ]:
valor = int(input("Qual a sua idade?"))
if valor < 18:
        print("Você não pode dirigir ainda!")
else:
        print("Você é o cara!! Pode dirigir se possuir carteira de motorista!")



> ## *Exercícios: Estruturas de decisão*

**1-** Faça um programa que leia 2 notas de um aluno, calcule a média e imprima reprovado (para ser aprovado a média deve ser no mínimo 7).

In [ ]:
# resposta

**2-** Refaça o exercício 1, identificando o conceito **aprovado** (média superior a 7), **exame** (média entre 5 e 7) ou **reprovado** (média inferior a 5).

In [ ]:
# resposta

 **3-**Escreva um programa que leia a velocidade de um carro. Se ele ultrapassar 80Km/h, mostre uma mensagem dizendo que ele foi multado. A multa vai custar R$7,00 por cada Km acima do limite.

In [ ]:
# Resposta

**4-** Escreva um programa que leia dois números e que pergunte qual operação você deseja realizar. Você deve poder calcular soma(+), subtração(-), multiplicação(*) e divisão(/). Exiba o resultado da operação solicitada.

In [ ]:
# Resposta

**5-** Crie um programa que leia um número inteiro e mostre na tela se ele é PAR ou ÍMPAR.

In [ ]:
# Resposta

**6-** Desenvolva um programa que pergunte a distância de uma viagem em Km. Calcule o preço da passagem, cobrando R\$0,50 por Km para viagens de até 200Km e R\$0,45 parta viagens mais longas.

In [ ]:
# Resposta

**7-** Faça um programa que leia três números inteiros e mostre qual é o maior.

In [ ]:
# Resposta

**8-** Faça um programa que leia três números inteiros e mostre qual é o maior e o menor.

In [ ]:
# Resposta

# Estrutura da Dados
As estruturas de dados são fundamentais na ciência da computação e na programação, pois organizam e manipulam informações de forma eficiente. Em Python, uma linguagem de alto nível e versátil, temos acesso a diversas estruturas nativas, como listas, tuplas, dicionários e conjuntos, que tornam a implementação de soluções mais simples e poderosa. Este material explora os principais conceitos e uso dessas estruturas, destacando sua aplicação prática para otimizar código e resolver problemas complexos de forma organizada.

## *Listas*
Lista é um conjunto sequencial de valores, onde cada valor é identificado através de um índice. O primeiro valor tem índice 0. Uma lista em Python é declarada da seguinte forma:



```
      Nome_Lista = [valor1, valor2, ..., valorN]
```
Uma lista pode ter valores de qualquer tipo, incluindo outras listas.

**Exemplo:**

In [ ]:
L = [3,'abacate', 9.7, [5,6,3], "Python" , (3,'j')]
print (L[3][1])

6

Para alterar um elemento da lista, basta fazer uma atribuição de valor através do índice. O valor existente será substituído pelo novo valor.

**Exemplo:**

In [ ]:
L = [3,'abacate', 9.7, [5,6,3], "Python" , (3,'j')]
L[3] = 'morango'
print(L)

[3, 'abacate', 9.7, 'morango', 'Python', (3, 'j')]

A tentativa de acesso a um índice inexistente resultará em um erro.

**Exemplo:**

In [ ]:
L = [3,'abacate', 9.7, [5,6,3], "Python" , (3,'j')]
L[7] = 'banana'
print(L)

IndexError: list assignment index out of range

## *Funções para manipulação de listas*
A lista é uma estrutura **mutável**, ou seja, ela pode ser modificada. Na tabela a seguir estão algumas funções utilizadas para manipular listas.

## *Operações com listas*
**Concatenação (+)**

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

**Repetição ( * )**

In [ ]:
L = [0, 1, 2]
L = L*4
print (L)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

## *Fatiamento de listas*

O fatiamento de listas é semelhante ao fatiamento de strings.

**Exemplo 1:**

In [ ]:
L = [3, 'abacate', 9.7, [5, 6, 3], "Python", (3, 'j')]
L [1:4] #seleciona os elementos das posições 1,2,3

['abacate', 9.7, [5, 6, 3]]

**Exemplo 2:**

In [ ]:
L = [3, 'abacate', 9.7, [5, 6, 3], "Python", (3, 'j')]
L [2:] #seleciona os elementos a partir da posição 2

[9.7, [5, 6, 3], 'Python', (3, 'j')]

**Exemplo 3:**

In [ ]:
L = [3, 'abacate', 9.7, [5, 6, 3], "Python", (3, 'j')]
L [:4] #seleciona os elementos até a posição 3

[3, 'abacate', 9.7, [5, 6, 3]]

## *Criação de listas com range ()*

A função range() define um intervalo de valores inteiros. Associada a list(), cria uma lista com os valores do intervalo.

A função range() pode ter de 1 a 3 parâmetros.


*   range(n) - gera um intervalo de **0 a n-1**   
*   range(i, n) - gera um intervalo de **i a n-1**
*   range(i, n, p) - gera um intervalo de **i a n-1** com intervalo  **p** entre os números.

**Exemplos:**

In [ ]:
L1 = list(range(5))
print(L1)

[0, 1, 2, 3, 4]

In [ ]:
L2 = list(range(3,8))
print(L2)

[3, 4, 5, 6, 7]

In [ ]:
L3 = list(range(2,11,3))
print(L3)

[2, 5, 8]

## *Exercícios: Listas*

**1-** Gere uma lista contendo os múltiplos de 3 entre 1 a 50.

In [ ]:
# Sua resposta

# **Tuplas**

Tupla, assim como a Lista, é um conjunto sequencial de valores, onde cada valor é identificado através de um índice. A principal diferença entre elas é que as tuplas são imutáveis, ou seja, seus elementos nãopodem ser alterados.

Dentre as utilidades das tuplas, destacam-se as operações de empacotamento e desempacotamento de valores.

Uma tupla em Python é declarada da seguinte forma:



```
      Nome_tupla = (valor1, valor2,..., valorN)
```
**Exemplo:**

In [ ]:
T = (1, 2, 3, 4, 5)
print (T)
print (T[3])
t[3]

(1, 2, 3, 4, 5)
4

NameError: name 't' is not defined

Uma Ferramenta muita utilizada em tuplas é o **desempacotamento**, que permite attribuir os elementos armazenados em uma tupla a diversas variáveis.

**Exemplo:**

In [ ]:
T = (10, 20, 30, 40, 50)
a, b, c, d, e = T
print("a =" , a, "b =", b)
print("d + e =", d+e)

a = 10 b = 20
d + e = 90

## *Dicionários*

Dicionário é um conjunto de valores, onde cada valor é associado a uma chave de acesso. Um  dicionário em Python é declarado da seguinte forma:



```
      Nome_dicionario = { chave1: valor1,
                          chave2: valor2,
                          chave3: valor3,
                              .....
                          chaveN : valorN}
```

# **Laços de Repetição**

O Laço de Repetição é utilizada para executar uma mesma sequência de comandos várias vezes.

A repetição está associada ou a uma condição, que indica se deve continuar ou não a repetição, ou a uma sequência de valores, que determina quantas vezes a sequência deve ser repetida. Os laços de repetição são conhecidas também como **(loops)**.

## *Laço while*
No laço while, o trecho de código está associado a uma condição. Enquanto a condição tiver valor verdadeiro, o trecho é executado. Quando a condição passa a ter valor falso a repetição termmina.

Sintaxe:



```
      while <condicao>:
            <Bloco de comandos>
```
**Exemplo 1:**

In [ ]:
# Digitar a senha correta:

senha = "54321"
leitura =" "
while (leitura != senha):
    leitura = input("Digite a senha: ")
    if leitura == senha :
        print('Acesso liberado ')
    else:
        print('Senha incorreta. Tente novamente')

Digite a senha: tbhij
Senha incorreta. Tente novamente
Digite a senha: 654321
Senha incorreta. Tente novamente
Digite a senha: 54321
Acesso liberado

**Exemplo 2:**

In [ ]:
# Encontre a soma de 5 valores:
# int ou float int = numeros inteiros  e float = números decimais.

contador = 0
somador = 0
while contador < 5:
    contador = contador + 1
    valor = int(input('Digite o '+str(contador)+'º valor: '))
    somador = somador + valor
    print('Soma = ', somador)

Digite o 1º valor: 2
Soma =  2
Digite o 2º valor: 3
Soma =  5
Digite o 3º valor: 4
Soma =  9
Digite o 4º valor: 6
Soma =  15
Digite o 5º valor: 6
Soma =  21

## Laço for
O laço **for** é a estrutura de estrutura de repetição mais utilizada em Python. Pode ser utlizado com uma sequência numérica (gerada com o comando **range**) ou associado a uma lista. O trecho de código da repetição é executado para cada valor da sequência numérica ou da lista.

**Sintaxe:**


```
    for <variavel> in range (inicio, limite, passo):
          <Bloco de comandos>
ou
    for <variavel> in <lista>:
          <Bloco de comandos>
```
**Exemplo 1:**

In [ ]:
# Encontrar a soma S = 1+4+7+10+13+16+19

S=0
for x in range(1,20,3):
    S = S+x
print('Soma = ',S)

Soma =  70

**Exemplo 2:**

In [ ]:
# As notas de um aluno estão armazenadas em uma lista. Calcular a média dessas notas.

Lista_notas= {3.4, 6.6, 8, 9, 10, 9.5, 8.8, 4.3}
soma=0
for nota in Lista_notas:
    soma = soma+nota
média = soma/len(Lista_notas)
print('Média = ', média)

Média =  7.449999999999999



> ## *Exercícios: Laços de Repetição*
**1-** Escreva um programa para encontrar a soma S = 3 + 6 + 9 + .... + 333.

In [ ]:
# Sua resposta

**2-** Escreva um código que leia um número de 1 a 10, e mostre a tabuada desse número.

In [ ]:
# Sua resposta

# **Funções**
Funções são pequenos trechos de código reutilizáveis. Elas permitem dar um nome a um bloco de comandos e executar esse bloco, a partir de qualquer lugar do programa.

## *Como definir uma função*
Funções são definidas usando a palavra-chave **def**, conforme a sintaxe a seguir:

**Sintaxe:**


```
    def <nome_função>(<definição dos parâmetros>)
          <Bloco de comandos da função>

Obs: A definição dos parâmetros é opcional.
```
**Exemplo:**

In [ ]:
# Definindo uma função simples:

def hello():
    print ("Olá mundo!!!")

# Para usar a função, basta chamá-la pelo nome:
# resposta:

hello()

Olá mundo!!!



> ## *Parâmetros e Argumentos*
Parâmetros são as variáveis que podem ser incluídas nos parênteses das funções. Quando a função é chamada são passados valores para essas variáveis. Esses valores são chamados argumentos. O corpo da função pode utilizar essas variáveis, cujos valores podem modificar o comportamento da função.

**Exemplo:**

In [ ]:
# Escrevendo função que imprima o maior entre 2 valores:
def maior (x,y):
    if x>y:
        print(x)
    else:
        print(y)

# Para testar é só usar 2 números.
# Exemplo:

maior(23,6)

23

## *Escopo das Variáveis*

Toda variável utilizada dentro de uma função tem escopo local, isto é, ela não será acessível por outras funções ou pelo programa principal. Se houver variável com o mesmo nome fora função, será uma outra variável, completamente independentes entre si.

**Exemplo:**

In [ ]:
def soma(x,y):
    total = x+y
    print("Total soma = ",total)

#programa principal
total = 10
soma(8,5)
print("Total principal = ",total)

Total soma =  13
Total principal =  10

Para uma variável ser compartilhada entre diversas funções e o programa principal, ela deve ser definida como **variável global**. PAra isto, utiliza-se a instrução **global** para declarar a variável em todas as funções para as quais ela deva estar acessível. O mesmo vale para o programa principal.

**Exemplo:**

In [ ]:
def soma(x,y):
    global total
    total = x+y
    print("Total soma = ",total)

#programa principal
global total
total = 10
soma(8,5)
print("Total principal = ",total)

Total soma =  13
Total principal =  13

## *Retorno de Valores*

O comando **return** é usado para retornar um valor de uma função e encerrá-la. Caso não seja declarado um valor retorno, a função retorna o valor **None** (que significa nada, sem valor).

**Exemplo:**

In [ ]:
def soma(x,y):
    total = x+y
    return total

#programa principal
s=soma(8,5)
print("soma = ",s)

soma =  13

*Observações:*

a) O valor da variável total, calculado na função soma, retornou da função e foi atribuído à variável s.

b) O comando após o **return** foi ignorado.

## *Valor Padrão*

É possível definir um valor padrão para os parâmetros da função. Neste caso, quando o valor é omitido na chamada da função, a variável assume o valor padrão.

**Exemplo:**

In [ ]:
def calcula_juros(valor, taxa=10):
    juros = valor*taxa/100
    return juros

## *Exercícios: Funções**

**1-** Crie uma função que receba como parâmetro uma lista, com valores de qualquer tipo. A função deve imprimir todos os elementos da lista numerando-os.

In [ ]:
 # Sua resposta

**2-** Crie uma função que receba como parâmetro uma lista com valores numéricos e retorne a média desses valores.

In [ ]:
# Sua resposta

# Referências

MENEZES, Coutinho N N. *INTRODUÇÃO À PROGRAMAÇÃO COM PYTHON*. 3 EDIÇÃO.: novatec, 2020.

https://colab.research.google.com/drive/
1SIZ93pwbG-I7hC-Osfx5L8btK9ILE0OM#scrollTo=kC5s5HRcEsSM

https://colab.research.google.com/github/ProfAllanIFBA/Curso_Python_Com_Jupyter_Notebook